.App {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 200px;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.appleNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  
}

.navSection {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  color: white;

}

.subNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333333;
}

.subNavSection {
 
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  color: white;

}